
header{
    display: flex;
  background-color:blue;
    margin-top: -8px;
    margin-right: -8px;
     margin-left: -8px;
     height: 80px;
     align-items: center;
}

header img{
    display: flex;
    height: 60%;  
}

.header-nav ul{
display: flex;
flex-direction: row;
list-style: none;
margin-left: 200px;

}
.header-nav li{
    display: flex;
    padding: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
}
.titulo{
    display: flex;
    font-size: 50px;
}
.divtit{
    display: flex;
    justify-content: center;
}
.actualizacion{
    display:flex;
    align-items: center;
    text-align: center;

    margin-left:380px ;
}

.actualizacion img{
    justify-self: center;
    height: 18px;
}
.subtitulo{
    font-size: 30px;
    display: flex;
    justify-content: center;

}
.subtitulo2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    
}
.datepicker {
margin-left: 380px;
  padding: 10px;
}

.primeragrafica {
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin-bottom: 30px;
}

.canva1grafica {
  position: relative;
  width: 50%;       
  height: auto;     
  aspect-ratio: 2 / 1; /* Mantiene proporción automática */
  
}
.cajones {
display:flex;
gap:20px;
flex-wrap:wrap;
margin:20px 0;
margin-top: 30px;
display: flex;
justify-self: center;
margin: 30px;
gap: 200px;

}
 .cajon1{
    box-shadow: 0px 0px 15px 0px;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    padding-left: 30px;
} 
.cajon2{
    box-shadow: 0px 0px 15px 0px;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    padding-left: 30px;
}
.cajon3{
    box-shadow: 0px 0px 15px 0px;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    padding-left: 30px;
}
.big {
text-align:center;
box-shadow:0 0 15px 0px ;
border-radius:16px;
padding:18px;
margin:20px;
justify-self: center;
height: 200px;
width: 58%;
}
.big h2 {
font-size:40px;
margin:8px 0;
}
.verde {
color:#0a9f2e;
}
.rojo {
color:#c22;
}
.naranja {
color:#d88500;
}   
.lista-horas{
padding: 5px;
border-radius:16px;
box-shadow:0 0 15px 15px #00000010;
max-width: 900px;
margin: 20px auto 40px;
}
.lista-horas h3{

margin: 0 0 12px 0;
color: #444;
}
.horas{
list-style: none;
padding: 0;
margin: 0;
}
.horas li{
display: flex;
align-items: center;
gap: 16px;
padding: 6px 4px;
}
.dot{
width: 14px;
height: 14px;
border-radius: 50%;
display: inline-block;
}
.tramo{
flex: 1;
color: #333;
}
.precio{
min-width: 140px;
text-align: right;
font-weight: 600;
}
.dot.verde{
background:#0a9f2e;
}
.dot.naranja{ 
background:#d88500;
}
.dot.rojo{
background:#c22;
}
 



