
header{
    display: flex;
  background-color:blue;
    margin-top: -8px;
    margin-right: -8px;
     margin-left: -8px;
     height: 80px;
     align-items: center;
}

header img{
    display: flex;
    height: 60%;  
}

.header-nav ul{
display: flex;
flex-direction: row;
list-style: none;
margin-left: 200px;

}
.header-nav li{
    display: flex;
    padding: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
}
.titulo{
    display: flex;
    font-size: 50px;
}
.divtit{
    display: flex;
    justify-content: center;
}
.actualizacion{
  
    display:flex;
    align-items: center;
    text-align: center;
    
}

.actualizacion img{
    justify-self: center;
    height: 18px;
}
.subtitulo{
    font-size: 30px;
    display: flex;
    justify-content: center;

}
.subtitulo2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    
}
.datepicker {
    margin-left: 100px;
  padding: 10px;
}

.primeragrafica {
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin-bottom: 30px;
}

.canva1grafica {
  position: relative;
  width: 50%;       
  height: auto;     
  aspect-ratio: 2 / 1; /* Mantiene proporción automática */
  
}
.sabiasque{
   padding: 5px;
    justify-self: center;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px;
    height: 200px;
    width: 60%;
}
.cajones{
    margin-top: 30px;
    display: flex;
    justify-self: center;
    margin: 30px;
}
.cajon1{
     box-shadow: 0px 0px 15px 5px;
     
}
.cajon2{
     box-shadow: 0px 0px 15px 5px;
}
.cajon3{
     box-shadow: 0px 0px 15px 5px;
}



